[Unit]
Description=send email with ip
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/mifen/Documents/code/ipMail
ExecStart=/usr/bin/python main.py

[Install]
WantedBy=multi-user.target
